# =========================
# Backend
# =========================

backend/backend/target/


# =========================
# Frontend
# =========================

frontend/node_modules/
frontend/dist/

# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example

# =========================
# IDE
# =========================

.vscode/
.idea/
*.iml

# =========================
# OS
# =========================

.DS_Store
Thumbs.db